body{
    /* background-image: url(https://cdn.pixabay.com/photo/2014/10/22/16/38/ingredients-498199_960_720.jpg); */
    /* background-image: url({{url_for('static', filename='../images/ingredients.jpg')}}); */
    background-image: url('../images/home2.png');
    background-repeat: no-repeat;
    background-size: cover;
  }